# Dependencies
node_modules/

# Build Output (Vite)
dist/

# Local Netlify State
.netlify/

# Environment Variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db