[build]
  # Chain install command to ensure vite is available
  command = "npm install --include=dev && npm run build"

  # Publish the unified dist folder
  publish = "dist"

  # Updated Function directory
  functions = "examples/backend/netlify-functions"

[dev]
  command = "npm run dev"
  targetPort = 5173
  # Updated Frontend directory
  publish = "examples/frontend"