[build]
  command = "npm run build"

  # UPDATED: Publish the root dist folder
  publish = "dist"

  functions = "tests/functions"

[dev]
  command = "npm run dev"
  targetPort = 5173
  publish = "tests/public"