[build]
  # Runs BOTH builds (Demos + Lib)
  command = "npm run build"
  # Publishes everything so your demos work AND you can download the JS
  publish = "dist"
  functions = "tests/functions"

[dev]
  command = "npm run dev"